* {
	margin:0;
	padding:0;
}
ul {
	list-style-type:none;
}
body {
	width:100%;
	background:#f7fbfc url("../images/sidebar_right.png") repeat-y 148px;
	font-size:12px;
	font-family:Arial;
	margin:0 auto;
}
body dl {
	border:1px dashed red;
	padding:30px 0 0 20px;
}
body dl dt {
	color:#3B6EA5;
	font-size:14px;
	font-weight:bold;
	padding:0 0 5px 0;
	border-bottom:1px solid #ccc;
	width:85%;
}
body dl dd {
	height:25px;
	line-height:25px;
	padding:5px 0 0 0;
}
body dl dd a {
	color:#555;
	text-decoration:none;
}
body dl dd a:hover {
	text-decoration:underline;
}




































